<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PaperDetailMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.PaperDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="paper_id" jdbcType="VARCHAR" property="paperId" />
    <result column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="title_number" jdbcType="INTEGER" property="titleNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, paper_id, question_id, answer, score, title_number, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_yu_paper_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_yu_paper_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.PaperDetail">
    insert into t_yu_paper_detail (id, paper_id, question_id, 
      answer, score, title_number, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{paperId,jdbcType=VARCHAR}, #{questionId,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{titleNumber,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.PaperDetail">
    insert into t_yu_paper_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="titleNumber != null">
        title_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="titleNumber != null">
        #{titleNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.PaperDetail">
    update t_yu_paper_detail
    <set>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="titleNumber != null">
        title_number = #{titleNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.PaperDetail">
    update t_yu_paper_detail
    set paper_id = #{paperId,jdbcType=VARCHAR},
      question_id = #{questionId,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      title_number = #{titleNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>